<a href="https://colab.research.google.com/github/d0rtilla/deep-learning-challenge/blob/main/charity_optimization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [2]:
url = 'https://raw.githubusercontent.com/d0rtilla/deep-learning-challenge/main/resources/charity_data.csv'

In [3]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv(url)
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Drop the non-beneficial ID columns, 'EIN'
#  YOUR CODE GOES HERE
application_df = application_df.drop(columns = ['EIN'])

In [5]:

# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
for x in application_df.columns:
  print(x, len(application_df[x].unique()))

NAME 19568
APPLICATION_TYPE 17
AFFILIATION 6
CLASSIFICATION 71
USE_CASE 5
ORGANIZATION 4
STATUS 2
INCOME_AMT 9
SPECIAL_CONSIDERATIONS 2
ASK_AMT 8747
IS_SUCCESSFUL 2

In [7]:
counts1 = application_df["NAME"].value_counts()
counts1

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [9]:
names_replace = list(counts1[counts1<5].index)

In [10]:
for name in names_replace:
  application_df['NAME'] = application_df['NAME'].replace(name, 'Other')

application_df['NAME'].value_counts()

Other                                                                19803
PARENT BOOSTER USA INC                                                1260
TOPS CLUB INC                                                          765
UNITED STATES BOWLING CONGRESS INC                                     700
WASHINGTON STATE UNIVERSITY                                            492
                                                                     ...
GUILDS OF THE SANTA FE OPERA INC                                         5
FAMILY MOTOR COACH ASSOCIATION                                           5
JAMESTOWN SOCIETY                                                        5
MOST WORSHIPFUL PRINCE HALL GRAND LODGE OF FREE & ACCEPTED MASONS        5
PTA HAWAII CONGRESS                                                      5
Name: NAME, Length: 403, dtype: int64

In [11]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
counts = application_df['APPLICATION_TYPE'].value_counts()
counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [12]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_to_replace = list(counts[counts<500].index)
application_types_to_replace

['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

In [13]:

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [14]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
countbinning = application_df['CLASSIFICATION'].value_counts()

In [15]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
countclassification = countbinning[countbinning>1]
countclassification

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [16]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classifications_to_replace = list(countbinning[countbinning<100].index)

In [17]:

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [18]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
application_df = pd.get_dummies(application_df, dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_ACTS MINISTRY,NAME_ACTS MISSIONS,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [19]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
y = application_df['IS_SUCCESSFUL'].values

In [20]:
x = application_df.drop('IS_SUCCESSFUL', axis=1).values

In [21]:
# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
x_train, x_test, y_train, y_test = train_test_split(x,y, random_state=42)

In [22]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(x_train)

# Scale the data
X_train_scaled = X_scaler.transform(x_train)
X_test_scaled = X_scaler.transform(x_test)

## Compile, Train and Evaluate the Model

In [23]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1=7
hidden_nodes_layer2=14
hidden_nodes_layer3=21
nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))
# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))
# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 7)                 3171

 dense_1 (Dense)             (None, 14)                112

 dense_2 (Dense)             (None, 1)                 15

=================================================================
Total params: 3,298
Trainable params: 3,298
Non-trainable params: 0
_________________________________________________________________

In [24]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [25]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn.fit(X_train_scaled, y_train, validation_split=0.15, epochs=100)

Epoch 1/100
684/684 [==============================] - 4s 4ms/step - loss: 0.5484 - accuracy: 0.7269 - val_loss: 0.4566 - val_accuracy: 0.7917
Epoch 2/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4477 - accuracy: 0.7861 - val_loss: 0.4370 - val_accuracy: 0.7979
Epoch 3/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4350 - accuracy: 0.7902 - val_loss: 0.4328 - val_accuracy: 0.7971
Epoch 4/100
684/684 [==============================] - 2s 4ms/step - loss: 0.4303 - accuracy: 0.7914 - val_loss: 0.4326 - val_accuracy: 0.7979
Epoch 5/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4282 - accuracy: 0.7926 - val_loss: 0.4352 - val_accuracy: 0.7966
Epoch 6/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4271 - accuracy: 0.7925 - val_loss: 0.4336 - val_accuracy: 0.7958
Epoch 7/100
684/684 [==============================] - 2s 4ms/step - loss: 0.4263 - accuracy: 0.7928 - val_loss: 0.4354 - val_accuracy: 0.7958
Epoch 8/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4254 - accuracy: 0.7937 - val_loss: 0.4348 - val_accuracy: 0.7963
Epoch 9/100
684/684 [==============================] - 3s 5ms/step - loss: 0.4237 - accuracy: 0.7943 - val_loss: 0.4334 - val_accuracy: 0.7989
Epoch 10/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4229 - accuracy: 0.7955 - val_loss: 0.4339 - val_accuracy: 0.8018
Epoch 11/100
684/684 [==============================] - 3s 5ms/step - loss: 0.4226 - accuracy: 0.7964 - val_loss: 0.4346 - val_accuracy: 0.7963
Epoch 12/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4219 - accuracy: 0.7957 - val_loss: 0.4344 - val_accuracy: 0.7976
Epoch 13/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4219 - accuracy: 0.7970 - val_loss: 0.4332 - val_accuracy: 0.7987
Epoch 14/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4215 - accuracy: 0.7974 - val_loss: 0.4352 - val_accuracy: 0.7989
Epoch 15/100
684/684 [==============================] - 2s 4ms/step - loss: 0.4206 - accuracy: 0.7977 - val_loss: 0.4349 - val_accuracy: 0.8005
Epoch 16/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4204 - accuracy: 0.7979 - val_loss: 0.4348 - val_accuracy: 0.7987
Epoch 17/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4200 - accuracy: 0.7966 - val_loss: 0.4345 - val_accuracy: 0.7994
Epoch 18/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4198 - accuracy: 0.7979 - val_loss: 0.4367 - val_accuracy: 0.7979
Epoch 19/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4195 - accuracy: 0.7985 - val_loss: 0.4365 - val_accuracy: 0.8002
Epoch 20/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4195 - accuracy: 0.7984 - val_loss: 0.4350 - val_accuracy: 0.7979
Epoch 21/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4188 - accuracy: 0.7982 - val_loss: 0.4379 - val_accuracy: 0.7989
Epoch 22/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4189 - accuracy: 0.7990 - val_loss: 0.4372 - val_accuracy: 0.7987
Epoch 23/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4184 - accuracy: 0.7994 - val_loss: 0.4352 - val_accuracy: 0.7976
Epoch 24/100
684/684 [==============================] - 2s 4ms/step - loss: 0.4180 - accuracy: 0.7985 - val_loss: 0.4357 - val_accuracy: 0.7987
Epoch 25/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4183 - accuracy: 0.7995 - val_loss: 0.4369 - val_accuracy: 0.7981
Epoch 26/100
684/684 [==============================] - 2s 4ms/step - loss: 0.4177 - accuracy: 0.7998 - val_loss: 0.4379 - val_accuracy: 0.7997
Epoch 27/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4175 - accuracy: 0.7979 - val_loss: 0.4354 - val_accuracy: 0.8018
Epoch 28/100
684/684 [==============================] - 2s 4ms/step - loss: 0.4175 - accuracy: 0.7993 - val_loss: 0.4375 - val_accuracy: 0.7989
Epoch 29/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4170 - accuracy: 0.7990 - val_loss: 0.4400 - val_accuracy: 0.7968
Epoch 30/100
684/684 [==============================] - 4s 5ms/step - loss: 0.4169 - accuracy: 0.7999 - val_loss: 0.4389 - val_accuracy: 0.7999
Epoch 31/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4168 - accuracy: 0.7997 - val_loss: 0.4372 - val_accuracy: 0.8005
Epoch 32/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4170 - accuracy: 0.8000 - val_loss: 0.4375 - val_accuracy: 0.7987
Epoch 33/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4168 - accuracy: 0.7989 - val_loss: 0.4390 - val_accuracy: 0.7989
Epoch 34/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4164 - accuracy: 0.7997 - val_loss: 0.4392 - val_accuracy: 0.7994
Epoch 35/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4161 - accuracy: 0.7995 - val_loss: 0.4373 - val_accuracy: 0.7999
Epoch 36/100
684/684 [==============================] - 3s 5ms/step - loss: 0.4158 - accuracy: 0.7993 - val_loss: 0.4367 - val_accuracy: 0.7974
Epoch 37/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4149 - accuracy: 0.7998 - val_loss: 0.4380 - val_accuracy: 0.7999
Epoch 38/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4142 - accuracy: 0.7993 - val_loss: 0.4385 - val_accuracy: 0.7992
Epoch 39/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4140 - accuracy: 0.7997 - val_loss: 0.4358 - val_accuracy: 0.8005
Epoch 40/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4144 - accuracy: 0.7996 - val_loss: 0.4368 - val_accuracy: 0.8007
Epoch 41/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4138 - accuracy: 0.8007 - val_loss: 0.4387 - val_accuracy: 0.7992
Epoch 42/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4135 - accuracy: 0.7993 - val_loss: 0.4399 - val_accuracy: 0.7997
Epoch 43/100
684/684 [==============================] - 3s 5ms/step - loss: 0.4139 - accuracy: 0.8006 - val_loss: 0.4376 - val_accuracy: 0.7999
Epoch 44/100
684/684 [==============================] - 5s 8ms/step - loss: 0.4136 - accuracy: 0.7998 - val_loss: 0.4365 - val_accuracy: 0.7989
Epoch 45/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4129 - accuracy: 0.8004 - val_loss: 0.4359 - val_accuracy: 0.7979
Epoch 46/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4129 - accuracy: 0.7996 - val_loss: 0.4384 - val_accuracy: 0.8010
Epoch 47/100
684/684 [==============================] - 6s 9ms/step - loss: 0.4124 - accuracy: 0.8004 - val_loss: 0.4379 - val_accuracy: 0.7999
Epoch 48/100
684/684 [==============================] - 4s 6ms/step - loss: 0.4123 - accuracy: 0.8004 - val_loss: 0.4391 - val_accuracy: 0.7994
Epoch 49/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4121 - accuracy: 0.8011 - val_loss: 0.4365 - val_accuracy: 0.7989
Epoch 50/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4119 - accuracy: 0.8007 - val_loss: 0.4386 - val_accuracy: 0.7997
Epoch 51/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4120 - accuracy: 0.7997 - val_loss: 0.4389 - val_accuracy: 0.8018
Epoch 52/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4118 - accuracy: 0.8007 - val_loss: 0.4396 - val_accuracy: 0.8033
Epoch 53/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4118 - accuracy: 0.8017 - val_loss: 0.4372 - val_accuracy: 0.8046
Epoch 54/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4116 - accuracy: 0.8018 - val_loss: 0.4393 - val_accuracy: 0.8059
Epoch 55/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4114 - accuracy: 0.8019 - val_loss: 0.4386 - val_accuracy: 0.8033
Epoch 56/100
684/684 [==============================] - 2s 4ms/step - loss: 0.4113 - accuracy: 0.8020 - val_loss: 0.4367 - val_accuracy: 0.8049
Epoch 57/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4112 - accuracy: 0.8015 - val_loss: 0.4378 - val_accuracy: 0.8062
Epoch 58/100
684/684 [==============================] - 2s 4ms/step - loss: 0.4109 - accuracy: 0.8019 - val_loss: 0.4397 - val_accuracy: 0.8051
Epoch 59/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4107 - accuracy: 0.8028 - val_loss: 0.4387 - val_accuracy: 0.8041
Epoch 60/100
684/684 [==============================] - 2s 4ms/step - loss: 0.4106 - accuracy: 0.8027 - val_loss: 0.4403 - val_accuracy: 0.8033
Epoch 61/100
684/684 [==============================] - 2s 4ms/step - loss: 0.4106 - accuracy: 0.8022 - val_loss: 0.4401 - val_accuracy: 0.8025
Epoch 62/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4100 - accuracy: 0.8025 - val_loss: 0.4382 - val_accuracy: 0.8062
Epoch 63/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4104 - accuracy: 0.8038 - val_loss: 0.4364 - val_accuracy: 0.8041
Epoch 64/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4099 - accuracy: 0.8027 - val_loss: 0.4399 - val_accuracy: 0.8025
Epoch 65/100
684/684 [==============================] - 3s 5ms/step - loss: 0.4096 - accuracy: 0.8022 - val_loss: 0.4380 - val_accuracy: 0.8041
Epoch 66/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4098 - accuracy: 0.8029 - val_loss: 0.4382 - val_accuracy: 0.8005
Epoch 67/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4099 - accuracy: 0.8027 - val_loss: 0.4376 - val_accuracy: 0.8056
Epoch 68/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4102 - accuracy: 0.8034 - val_loss: 0.4391 - val_accuracy: 0.8041
Epoch 69/100
684/684 [==============================] - 2s 4ms/step - loss: 0.4096 - accuracy: 0.8037 - val_loss: 0.4402 - val_accuracy: 0.8036
Epoch 70/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4095 - accuracy: 0.8030 - val_loss: 0.4410 - val_accuracy: 0.8023
Epoch 71/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4093 - accuracy: 0.8029 - val_loss: 0.4414 - val_accuracy: 0.8064
Epoch 72/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4096 - accuracy: 0.8031 - val_loss: 0.4405 - val_accuracy: 0.8069
Epoch 73/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4094 - accuracy: 0.8038 - val_loss: 0.4398 - val_accuracy: 0.8056
Epoch 74/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4092 - accuracy: 0.8036 - val_loss: 0.4428 - val_accuracy: 0.8015
Epoch 75/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4091 - accuracy: 0.8036 - val_loss: 0.4388 - val_accuracy: 0.8033
Epoch 76/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4094 - accuracy: 0.8034 - val_loss: 0.4398 - val_accuracy: 0.8051
Epoch 77/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4087 - accuracy: 0.8039 - val_loss: 0.4404 - val_accuracy: 0.8064
Epoch 78/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4090 - accuracy: 0.8038 - val_loss: 0.4397 - val_accuracy: 0.8054
Epoch 79/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4090 - accuracy: 0.8024 - val_loss: 0.4404 - val_accuracy: 0.8046
Epoch 80/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4087 - accuracy: 0.8031 - val_loss: 0.4404 - val_accuracy: 0.8028
Epoch 81/100
684/684 [==============================] - 2s 4ms/step - loss: 0.4088 - accuracy: 0.8033 - val_loss: 0.4394 - val_accuracy: 0.8041
Epoch 82/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4089 - accuracy: 0.8037 - val_loss: 0.4395 - val_accuracy: 0.8072
Epoch 83/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4085 - accuracy: 0.8031 - val_loss: 0.4410 - val_accuracy: 0.8036
Epoch 84/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4086 - accuracy: 0.8035 - val_loss: 0.4407 - val_accuracy: 0.8064
Epoch 85/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4082 - accuracy: 0.8043 - val_loss: 0.4404 - val_accuracy: 0.8038
Epoch 86/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4082 - accuracy: 0.8035 - val_loss: 0.4412 - val_accuracy: 0.8044
Epoch 87/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4085 - accuracy: 0.8033 - val_loss: 0.4404 - val_accuracy: 0.8041
Epoch 88/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4085 - accuracy: 0.8045 - val_loss: 0.4467 - val_accuracy: 0.8031
Epoch 89/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4084 - accuracy: 0.8034 - val_loss: 0.4422 - val_accuracy: 0.8049
Epoch 90/100
684/684 [==============================] - 2s 4ms/step - loss: 0.4084 - accuracy: 0.8035 - val_loss: 0.4421 - val_accuracy: 0.8054
Epoch 91/100
684/684 [==============================] - 2s 4ms/step - loss: 0.4084 - accuracy: 0.8032 - val_loss: 0.4412 - val_accuracy: 0.8036
Epoch 92/100
684/684 [==============================] - 2s 4ms/step - loss: 0.4084 - accuracy: 0.8038 - val_loss: 0.4421 - val_accuracy: 0.8038
Epoch 93/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4076 - accuracy: 0.8038 - val_loss: 0.4428 - val_accuracy: 0.8049
Epoch 94/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4082 - accuracy: 0.8038 - val_loss: 0.4435 - val_accuracy: 0.8054
Epoch 95/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4078 - accuracy: 0.8038 - val_loss: 0.4441 - val_accuracy: 0.8041
Epoch 96/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4075 - accuracy: 0.8040 - val_loss: 0.4428 - val_accuracy: 0.8056
Epoch 97/100
684/684 [==============================] - 2s 4ms/step - loss: 0.4075 - accuracy: 0.8037 - val_loss: 0.4430 - val_accuracy: 0.8046
Epoch 98/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4072 - accuracy: 0.8041 - val_loss: 0.4450 - val_accuracy: 0.8062
Epoch 99/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4071 - accuracy: 0.8042 - val_loss: 0.4441 - val_accuracy: 0.8056
Epoch 100/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4070 - accuracy: 0.8041 - val_loss: 0.4426 - val_accuracy: 0.8062

In [26]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.4622 - accuracy: 0.7873 - 705ms/epoch - 3ms/step
Loss: 0.4621768593788147, Accuracy: 0.7872886061668396

In [27]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
from google.colab import files

nn.save('/content/deeplearningcharity_optimization.h5')
files.download('/content/deeplearningcharity_optimization.h5')